# directories
.idea/
.vscode/
./*/.idea/
./*/.vscode/
__pycache__/
.ccls-cache/
simhub*/
venv/
simulation/

# files
*.o
**/.clangd

# reference files
./Matrix/invert.c

# data files
./Projectile/*/dump.out

# replit
.replit
replit.nix
