# directories
.vscode/
.idea/
./*/.idea/
./*/.vscode/
__pycache__/
.ccls-cache/
pyvenv*/
venv/
simulation/

# files
*.o

# reference files
./Matrix/invert.c

# data files
./Projectile/*/dump.out

# replit
.replit
replit.nix
